@font-face {
    font-family: custom1;
    src: url(comforta1.ttf);
}

body {
    background-image: url("blackPoly.jpg");
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
    background-color: black;
    font-family: custom1;
    overflow-wrap: break-word;
    hyphens: manual;
}

h1 {
    color: aliceblue;
    font-size: 30px;
    font-weight: 200;
    padding: 0px 10px;
}

h2 {
    color: aliceblue;
    font-size: 20px;
    font-weight: 150;
}

section {
    margin: 5px;
    padding: 0px 5px;
}

li {
    color: aliceblue;
    display: block;
    line-height: 1.5;
}

p[id=aboutMe] {
    background-image: url("blackHills.jpg");
    background-size: cover;
    background-position: center;
    background-color: black;
    color: aliceblue;
    border: 3px inset #8f8f8f;
    margin-top: -5px;
}

label {
    color: aliceblue;
    font-size: 15px;
}

input {
    background-color: black;
    color: aliceblue;
    border: #8f8f8f 2px inset;
    padding: 5px 5px;
    margin: 5px;
}

textarea {
    background-color: black;
    color: aliceblue;
    border: #8f8f8f 2px inset;
    padding: 10px 12px;
    margin: 5px;
}

a:link {
    color: aliceblue;
}

a:hover {
    color: rgb(92, 87, 244);
}

button[type=submit] {
    background-color: black;
    color: aliceblue;
    border: #8f8f8f 2px outset;
    padding: 5px 8px;
    margin: 5px;
}

ul[id=leftMessages] {
    line-height: 2.0;
    padding: 0px 15px;
}

button {
    background-color: black;
    color: aliceblue;
    border: #8f8f8f 2px outset;
    padding: 5px 8px;
    margin: 5px;
}

button:hover {
    background-color: black;
    box-shadow: inset 0px 0px 10px #8f8f8f;
}

button:active {
    background-color: black;
    box-shadow: inset 0px 0px 10px #ffffff;
}

p {
    background-color: black;
    border: #8f8f8f 3px inset;
    width: fit-content;
    padding: 7px 10px;
    margin-top: 35px;
}

footer[id=copyrightSection] {
    color: aliceblue;
    word-spacing: 20px;
}

@media (max-width: 767px) {
    body {
        background-image: url(blackSand.jfif);
        background-size: cover;
    }
}

@media (min-width: 2160px) {
    body {
        background-image: url(blackSquares.png);
        background-size: cover;
    }
}
