* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: custom1;
    src: url(comforta1.ttf);
}

:root {
    color: aliceblue;
    font-family: custom1;
    overflow-wrap: break-word;
    hyphens: manual;   
}

ul > li {
    list-style-type: none;
}

/* content page code */

.headerNav {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.title {
    font-size: 30px;
    font-weight: 350;
}

.title > a:visited, .title > a {
    color: black;
    text-decoration: none;
}

.navbar {
    word-spacing: 5px;
}

.navbar, .title {
    margin: 0 20px 0 20px;
}

.menu li > a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.menu li > a:hover {
    color: rgb(125, 125, 125);
    text-decoration: underline;
}

.menu_item {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
}

#aboutMe {
    background-image: url("blackHills.jpg");
    background-position: center;    
    border: 2px inset #8f8f8f;
    border-radius: 5px;
    padding: 7px 10px;
    margin-bottom: 10px;
}

body {
    background-image: url("blackPoly.jpg");
    display: flex;
    flex-direction: column;
}

.bodyContent {
    margin: 0px 10% 0px 10%;
    line-height: 1.5;
}

.xpList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.xpList > * {
    display: block;
    background-color: rgb(42, 42, 42);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    flex: 1 1 100%;
}

.contacts, .connectPic {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 10px 10px 0px;
}

.connectPic {
    border-radius: 50px;
    height: 50px;
    width: 50px;
}

.connectPic:hover {
    transform: scale(1.1); 
}

#skillsList > li {
    outline-style: solid;
    outline-color: rgb(57, 57, 57);
    border-radius: 5px;
    padding: 5px;
    display: inline-flex;
    margin: 5px;
}

#projectList > li {
   margin: 0 0px 10px 5px;
}

#projectList > li a {
    text-decoration: none;
}

#projectList > li a:hover {
    color: rgb(125, 125, 125);
    text-decoration: underline;
}

.datesWorked {
    color: #8f8f8f;
    font-style: italic;
    display: flex;
    justify-content: space-between;
}

.contentTitle {   
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 20px;
}

#leaveMessage {
    margin-bottom: 20px ;
}

section {
    margin: 50px;
    padding: 0px 5px;
}

label {
    font-size: 15px;
}

input, textarea {
    background-color: black;
    color: aliceblue;
    border: #8f8f8f 2px inset;
    border-radius: 5px;
}

input, label {
    margin-bottom: .5rem;
}

input {
    width: 200px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputForm {
    display: flex;
    flex-wrap: wrap;
}

.fieldInputs {
    display: inline-flex;
    flex-direction: column;
    margin-right: 1rem;
}

.fieldMessage {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.userMessageField {
    height: 100px;
    width: 415px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px black inset;
}

input:-webkit-autofill {
    -webkit-text-fill-color: aliceblue;
}

input, textarea {
    padding: 5px 5px;
}

button {
    background-color: black;
    border-radius: 5px;
    color: aliceblue;
    padding: 5px 8px;
    margin-top: 1rem;
}

a:link {
    color: aliceblue;
}

a:hover {
    color: rgb(125, 125, 125);
}

a:visited {
    color: aliceblue;
}

button:hover, input:hover, textarea:hover {
    box-shadow: inset 0px 0px 5px #8f8f8f;
}

button:active {
    box-shadow: inset 0px 0px 10px #ffffff;
}

#leftMessages {
    display: block;
    line-height: 2.0;
}

#leftMessages > li a:link,
#leftMessages > li a:visited {
    color: aliceblue;
}

#leftMessages > li a:hover {
    color: rgb(125, 125, 125);
}

#copyrightSection {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    word-spacing: 10px;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#copyrightSection:nth-child(2) {
    text-align: center;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 100px;
}

/* cover page code */

#coverPageBody {
    background-image: url("blackWaves.jpg");
    background-position: center;
    min-height: 100vh;
}

.learnMoreBox {
    display: flex;
    border-radius: 8px;
    backdrop-filter: blur(6px);
    background-color: rgba(63, 63, 63, 0.5);
    box-shadow: 0 1px 12px rgb(154, 154, 154);
    border: 1px solid rgba(22, 22, 22, 0.3);
    height: 300px;
    width: 250px;
    margin: 100px auto 100px auto;
}

#learnMoreSection {
    color: aliceblue;
    word-wrap: break-word;
    margin: 50px 5px 0 5px;
    text-align: center;
    line-height: 1.5;
    text-shadow: 2px 2px #000000;
}

#continueButton {
    font-family: custom1;
    letter-spacing: 3px;
    background-color: #000000;
    color: aliceblue;
    margin-top: 50px;
    padding: 15px;
}

#continueButton:hover {
    box-shadow: inset 0px 0px 5px #8f8f8f;
}

.coverPageFooter {
    width: 100%;
    bottom: 0;
    position: absolute;
}

.coverFooterContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#coverFooter {
    display: flex;
    font-size: medium;
    
}

.coverPicContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.coverPic {
    border-radius: 50px;
    height: 40px;
    width: 40px;
    padding: 5px;
    margin: 1rem 1rem 0 1rem;
}

/* media queries for responsiveness */

@media (max-width: 767px) {

    body {
        background-size: cover;
    }

    .bodyContent {
        margin: 0px;
    }

    .headerNav {
        position: sticky;
        top: 0;
    }

    .fieldInputs, 
    .fieldMessage,
    input,
    .userMessageField {
        width: 100%;
        margin: 0;
    }
}

@media (min-width: 2160px) {
    .bodyContent {
        margin: 0 600px 0 600px;
    }

    .navbar, .title {
        margin: 0 15% 0 15%
    }

    .learnMoreSection {
        margin: 700px auto 0 auto;
    }

    .learnMoreBox {
        margin-top: 25%;
    }
}

@media (min-width: 1046px) {
    .learnMoreBox {
        margin-top: 10%;
    }
}