@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Hind&family=Permanent+Marker&family=Roboto&family=Rock+Salt&family=Staatliches&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    font-family: 'Comfortaa', cursive;
    overflow-wrap: break-word;
    hyphens: manual;
}

ul > li {
    list-style-type: none;
}

body {
    background-image: linear-gradient(white, rgb(222, 222, 222), white);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.headerNav {
    color: white;
    box-shadow: 0px 0px 10px 2px black;
    background-color: rgb(30, 30, 30);
    font-family: 'Staatliches', cursive;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5% 5px 10%;
}

#headerTitle {
    font-family: 'Permanent Marker', cursive;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 30px;
}

.headerList {
    word-spacing: 10px;
}

.headerListItem {
    display: inline-flex;
}

.headerListItem > a:visited, .headerListItem > a {
    color: white;
    text-decoration: none;
}

.headerListItem > a:hover {
    transform: scale(1.1); 
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

#headerLanding {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(0deg, #00000088 50%, #ffffff44 100%), 
    url(red-blue-swirl.avif);
    background-size: cover;
    box-shadow: 0px 0px 10px 2px black;
    color: white;
    text-shadow: black 3px 1px;
    font-family: 'Staatliches', cursive;
    font-size: 30px;
    padding-bottom: 125px;
    height: 700px;
}

#landingDescription {
    margin-top: 7px;
    font-size: small;
}

section {
    background-color: white;
    font-family: 'Comfortaa', cursive;
    box-shadow: 0px 0px 10px 2px black;
    margin: 50px 5% 0 5%;
}

#about {
    margin-top: 75px;
}

#about > p {
    padding: 10px;
    line-height: 1.5;
}

.contentTitle { 
    font-family: 'Hind', sans-serif;
    color: white;  
    background-color: rgb(46, 77, 89);
    padding: 10px;
}

.col {
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    line-height: 2;
    margin-top: 20px;
    padding: 0 10px 0 10px;
}

#experienceList {
    padding: 10px;
}

.experienceDescription {
    padding: 10px;
    line-height: 1.5;
}

#skillsList {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
}

#skillsList > li {
    display: inline-flex;
    outline-style: solid;
    outline-color: rgb(0, 96, 125);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

#projectList {
    margin-top: 10px;
}

#projectList > li {
    margin: 0 0px 10px 10px;
 }
 
#projectList > li a {
    text-decoration: none;
 }
 
#projectList > li a:hover {
    color: rgb(125, 125, 125);
    text-decoration: underline;
 }

label {
    font-size: 15px;
}

input, textarea {
    background-color: rgb(241, 241, 241);
    color: rgb(0, 0, 0);
    border: #8f8f8f 2px inset;
    border-radius: 5px;
}

input, label {
    margin-bottom: .5rem;
}

input {
    width: 200px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
}

.inputForm {
    display: flex;
    flex-wrap: wrap;
}

.fieldInputs {
    display: inline-flex;
    flex-direction: column;
    margin-right: 1rem;
}

.fieldMessage {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding: 10px;
}

.userMessageField {
    height: 100px;
    width: 415px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px rgb(255, 255, 255) inset;
}

input:-webkit-autofill {
    -webkit-text-fill-color: rgb(0, 0, 0);
}

input, textarea {
    padding: 5px 5px;
}

button {
    cursor: pointer;
}

.formButton {
    margin-bottom: 10px;
}

.formButton, .removeButton {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    padding: 5px 8px;
    margin: 1rem 0 10px 10px;
}

.formButton:hover, .removeButton:hover, input:hover, textarea:hover {
    box-shadow: inset 0px 0px 5px #8f8f8f;
}

.formButton:active, .removeButton:active {
    box-shadow: inset 0px 0px 10px #ffffff;
}

#leftMessages > * {
    display: block;
    line-height: 1.5;
    width: 100%;
    padding: 10px;
}

#leftMessages > li a:link,
#leftMessages > li a:visited {
    color: rgb(0, 0, 0);
}

#leftMessages > li a:hover {
    color: rgb(125, 125, 125);
}

.topOfPageLink {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 100px;
}

.topOfPageLink > a:visited {
    color: black;
}

.topOfPageText {
    outline: solid rgb(0, 96, 125);
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    font-size: small;
}

#copyrightSection {
    font-family: 'Hind', sans-serif;
    font-size: large;
    color: black;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    background-color: rgb(241, 241, 241);
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 10px 2px black;
    margin-top: auto;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    padding: 3px;
}

.contacts, .connectPic {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contacts {
    color: black;
    font-size: small;
    margin-right: 5px;
}

.connectPic {
    border-radius: 50px;
    height: 40px;
    width: 40px;
    margin-right: 5px;
}

.connectPic:hover {
    transform: scale(1.1); 
}

@media (max-width: 600px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .headerList {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        left: -100%;
        top: 47px;
        background-color: rgb(41, 41, 41);
        height: 290px;
        width: 100%;
        transition: 0.3s;
    }

    .headerListItem {
        margin: 16px 0;
    }

    .headerList.active {
        left: 0;
    }

    .headerNav {
        max-height: 3rem;
        position: fixed;    
    }

    .topOfPageLink {
        display: none;
    }

    .connectPic {
        height: 30px;
        width: 30px;
    }

    #copyrightSection {
        font-size: small;
        margin-top: 100px;
    }
}

@media (max-width: 769px) {

    #headerLanding {
        font-size: 23px;
    }

    .fieldInputs, 
    .fieldMessage,
    input,
    .userMessageField {
        width: 100%;
        margin: 0;
    }

    .fieldInputs {
        margin-top: 10px;
    }
}

@media (min-width: 1439px) {
    body {
        margin: 0 15% 0 15%;
    }

    .headerList{
        font-size: medium;
    }
}

@media (min-width: 2160px) {
    body {
        margin: 0 25% 0 25%;
    }
}